.signup {
  width: 400px;
  margin: 50px auto 0 auto;

  &__form {
    width: 400px
  }

  &__btn {
    width: 400px;
    height: 52px;
    text-decoration: none;
    outline: none;
    margin: 30px 0 0 0;
  }
}