.box {
  display: flex;
  flex-direction: row;

  &__photo {
    width: 200px;
    height: 200px;
    margin: 10px 10px;

    img{
      width: 200px;
      height: 200px;
      border-radius: 6px;
    }
  }

  &__description {
    margin: 10px 10px 10px 20px;
    font-size: 16px;

    &_name {
      font-size: 20px;
      color: #07575b;
    }
  }
}