.text__field {
  display: flex;
  flex-direction: column;
  margin: 10px 0 0 0;
}

.field {
  width: 400px;
  height: 52px;
  border-radius: 8px;
  font-size: 18px
}

.label {
  height: 22px;
}

.error__message {
  color: red
}